h1{
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
}
h2{
    font-size: 40px;;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0%;
}
.flex-contener{
    display: flex;
    margin-bottom: 150px;
}
.spancolor{
    color:rgb(255, 60, 135);
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(248, 12, 71),rgb(241, 113, 167));
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 700px;
    color: white;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.top-banner{
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.bottom-banner{
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}